---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="News | Beyond Paralysis">
  <h1>News</h1>
  <p>Links and short summaries of notable SCI / neuro news stories.</p>
</SiteLayout>
